<div>
    <h2 id="page-heading">
        <span>Schedule</span>
    </h2>
    <h3>
        <button (click)="decreaseWeek()"><strong>&lt;</strong></button>
        {{currentWeek}} / {{currentYear}}
        <button (click)="increaseWeek()"><strong>&gt;</strong></button>
    </h3>

    <div class="alert alert-warning" id="no-result" *ngIf="schedules?.length === 0">
        <span>No schedules found</span>
    </div>

    <div *ngIf="schedules">

        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Schedule</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
                <th scope="col">Sunday</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor='let shiftNr of [1,2,3,4]' >
                    <td>{{shiftNr}}</td>
                    <td *ngFor='let dayOfWeek of [1,2,3,4,5,6,7]'>
                        <select (change)="save($event, dayOfWeek, shiftNr)" class="form-control">
                            <option value="none"> - </option>
                            <option [selected]="worker.id === getSchedule(dayOfWeek, shiftNr)?.worker?.id" *ngFor="let worker of workers" [value]="worker.id">{{ worker.first + " " + worker.last }}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <jhi-alert-error></jhi-alert-error>
</div>
