<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-schedule-heading">Create or edit a Schedule</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_year">Year</label>
                    <input type="number" class="form-control" name="year" id="field_year"
                           formControlName="year"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_week">Week</label>
                    <input type="number" class="form-control" name="week" id="field_week"
                           formControlName="week"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dayOfWeek">Day Of Week</label>
                    <input type="number" class="form-control" name="dayOfWeek" id="field_dayOfWeek"
                           formControlName="dayOfWeek"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_shiftNr">Shift Nr</label>
                    <input type="number" class="form-control" name="shiftNr" id="field_shiftNr"
                           formControlName="shiftNr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_worker">Worker</label>
                    <select class="form-control" id="field_worker" name="worker" formControlName="worker">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="workersOption.id === editForm.get('worker')!.value?.id ? editForm.get('worker')!.value : workersOption" *ngFor="let workersOption of workers; trackBy: trackById">{{ workersOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
