<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="schedule">
            <h2><span>Schedule</span> {{ schedule.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Year</span></dt>
                <dd>
                    <span>{{ schedule.year }}</span>
                </dd>
                <dt><span>Week</span></dt>
                <dd>
                    <span>{{ schedule.week }}</span>
                </dd>
                <dt><span>Day Of Week</span></dt>
                <dd>
                    <span>{{ schedule.dayOfWeek }}</span>
                </dd>
                <dt><span>Shift Nr</span></dt>
                <dd>
                    <span>{{ schedule.shiftNr }}</span>
                </dd>
                <dt><span>Worker</span></dt>
                <dd>
                    <div *ngIf="schedule.worker">
                        <a [routerLink]="['/workers', schedule.worker?.id, 'view']">{{ schedule.worker?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/schedule', schedule.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
