<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="workers">
            <h2><span>Workers</span> {{ workers.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>First</span></dt>
                <dd>
                    <span>{{ workers.first }}</span>
                </dd>
                <dt><span>Last</span></dt>
                <dd>
                    <span>{{ workers.last }}</span>
                </dd>
                <dt><span>Addr</span></dt>
                <dd>
                    <span>{{ workers.addr }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/workers', workers.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
