<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-workers-heading">Create or edit a Workers</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_first">First</label>
                    <input type="text" class="form-control" name="first" id="field_first"
                           formControlName="first"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_last">Last</label>
                    <input type="text" class="form-control" name="last" id="field_last"
                           formControlName="last"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_addr">Addr</label>
                    <input type="text" class="form-control" name="addr" id="field_addr"
                           formControlName="addr"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
