<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4">Welcome to Corona1450Service! </h1>
        <br/>
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <h2 id="home-logged-message" *ngIf="account">Hi {{ account.login }}, we're glad you're here!</h2>
                <br/>

                <p>
                    Quick access:
                </p>
                <ul>
                    <li><a routerLink="/workers" target="_blank" rel="noopener noreferrer">Worker</a></li>
                    <li><a routerLink="/schedule" target="_blank" rel="noopener noreferrer">Schedule</a></li>
                </ul>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Please </span>
                <a class="alert-link" (click)="login()">login</a><span>, if you want to use the Corona1450Service.</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have a user? No Problem!</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Register!</a>
            </div>
        </div>
        <p>
            <span>If you like Corona1450Service, don't forget to give us a star on </span> <a href="https://bitbucket.org/draff/1450_service" target="_blank" rel="noopener noreferrer">GitHub</a>!
        </p>
    </div>
</div>
